// Custom styles.
body {
  text-shadow: 0.01em 0.01em 0.01em #999999 !important;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 26px;
  font-weight: 400;
  font-family: Yesteryear,'Noto Sans CJK SC',"PingFang SC","Microsoft YaHei",sans-serif;
}
